.contenedor-testimonio {
  width: 1000px;
  height: 304px;
  margin: 10px auto 50px;
  display: flex;
  background-color: #fff;
  box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
}

.imagen-testimonio {
  width: auto;
  height: 100%;
}

.texto-testimonio {
  width: 90%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contenedor-p-testimonio {
  width: 100%;
  display: flex;
  padding: 10px;
  font-size: 18px;
  font-weight: 400;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5rem;
  align-items: center;
  text-align: center;
}

.nombre-testimonio {
  font-size: 1.3rem;
  font-weight: bold;
}

.cargo-testimonio {
  font-size: 1.3rem;
  margin-top: 15px;
  padding-bottom: 30px;
  font-weight: bold;
}

.texto-testimonio {
  font-size: 0.9rem;
  text-align: justify;
}

.texto-fecha {
  font-size: 0.5rem;
  font-weight: bold;
}
